# .env.example
# ENTERPRISE POSTGRESQL CONNECTION STRING
DATABASE_URL=postgresql://user:password@host:port/dbname

# GEMINI AI API
GEMINI_API_KEY=

# CRYPTO SECRETS
BIOMETRIC_SALT=BIOMETRIC_SALT_V7
CRON_SECRET=NEXA_CRON_DEFAULT_SECRET_2026
